
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica,sans-serif;
    background: linear-gradient(90deg, #47df93 0%, #3ad3b2 33%, #5cc5d8 66%, #5cc5d8 100%);
}

header {
    padding: 25px 50px;
    text-align: center;
    box-shadow: 0px 5px 10px #922ba033;
}

header h1 {
    background: linear-gradient(90deg, #202b5c 0%, #83339b 33%, #ad4a90 66%, #ec26a0 100%);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;

    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

header p {
    color: black;
    font-size: 24px;
    font-weight: 480;
    margin-bottom: 24px;
}




