
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica,sans-serif;
    background: linear-gradient(90deg, #47df93 0%, #3ad3b2 33%, #5cc5d8 66%, #5cc5d8 100%);
}

header {
    padding: 24px 48px;
    text-align: center;
    box-shadow: 0px 5px 10px #922ba033;
}

header h1 {
    background: linear-gradient(90deg, #202b5c 0%, #83339b 33%, #ad4a90 66%, #ec26a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

header p {
    color: black;
    font-size: 24px;
    font-weight: 480;
    margin-bottom: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    min-height: 100vh;
}

.form-card {
    width: 100%;
    max-width: 500px;
    background-color: #303044;
    padding: 40px;
    border-radius: 16px;
}

.subtitle {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

.form-group input:focus{
    box-shadow: 0 0 4px 5px #b965a4;
}

.button {
    margin-top: 24px;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    background-color: #0000ff;
    color: white;
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3px ease;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    background-color: #0508cf;
    transform: scale(0.95);
}

/* Student Records */

.student-records {
    width: 100%;
    max-width: 550px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 10px black;
}

.student-records h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 720px;
}

/* Table */

.table-content{
    width: 100px;
    overflow-x: auto;
}

table {
    width: 100px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: px solid #ddd;
}

th {
    background-color: #202b5c;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}
















